* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    padding: 0%;
    font-family: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}
header {
    text-align: center;
    margin: 0.2em;
}
h1 img {
    display: block;
    z-index: -1;
    opacity: 0.8;
    margin: auto;
}
ul {
    background-color: grey;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    margin-left: 100px;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline-block;
    padding: 10px 5px;
    margin-left: 50px;
}
li a {
    text-decoration: none;
    padding: 11px;
    color: white; 
}
li a:hover {
    background: black;
}
.light {
    background: rgba(24, 24, 24, 0.637);
    
}
table, th, tr {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    margin: auto;
}
th {
    width: 25%;
}
tr {
    margin-bottom: 25px;
}

tr:nth-child(even) {
    background-color: lightgray;
}
tr:nth-child(odd) {
    background-color: lightblue;
}
tr:nth-child(even):hover {
    background-color: rgba(184, 182, 182, 0.459);
}
tr:nth-child(odd):hover {
    background-color: rgba(173, 210, 223, 0.486);
}
footer {
    text-align: center;
    background: linear-gradient(79deg, rgba(0, 0 , 0, 0.7), rgba(50, 50 , 50, 0.7));
    color: white;
    margin-top: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
/* Responsive Header */
@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }
    ul li {
        height: auto;
        width: 100%;
        position: relative;
        background-color: gray;
        margin-left: 0px;
    }
    li {
        border-bottom: 1px solid black;
    }
    }
    li a:active {
        background-color: black;
    }

/* Responsive Table*/
@media screen and (max-width: 768px) {
    h1 {
        margin-top: 2px;
        padding-top: 5px;
    }
    h1 img {
        z-index: -1;
        opacity: 0.5;
        border-style: none;
        display: block;
        margin: auto;
    }
    h2 {
        text-align: center;
        background: black;
        color: white;
        text-shadow: 1px 1px 2px lightgrey;
    }
    table, tbody {
        display: none;
        margin-left: 0px;
        background: lightgrey;
    }
    table, tbody, tr, th, td {
        text-align: center;
        display: block;
        width: auto;
        margin: auto;
    }
    th, td {
        padding: 5px;
    }
    tr {
        margin-bottom: 5px;
    }
    tbody:nth-child(even) {
        background-color: lightblue;
    }
    tbody:nth-child(odd) {
        background-color: whitesmoke;
    }
        
    footer {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        background: black;
        padding-top: 10px;
    }
}
@media screen and (max-width: 375px) {
    header {
        text-align: center;
    }
    ul li {
        height: auto;
        width: 100%;
        position: relative;
        background-color: gray;
    }
    li a:active {
        background-color: black;
    }
    
    h2 {
        text-align: center;
        background: black;
        color: white;
        text-shadow: 1px 1px 2px lightgrey;
    }
    table, tbody {
        display: none;
    }
    table, tbody, tr, th, td {
        display: block;
        table-layout: auto;
        background: lightgrey;
        margin: auto;
    }
    tbody:nth-child(even) {
        background:lightblue;
    }
    tbody:nth-child(odd) {
        background-color: whitesmoke;
    }
    table, tr {
        margin-bottom: 15px;
    }
    .moreinfo tr {
        margin: auto;
        overflow: hidden;
    }
    
    footer {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        background: black;
        padding-top: 10px;
        color: white;
    }
    footer a{
        text-decoration: none;
        color: white;
    }
} 
